html,body{width:100vw;height:100vh;margin:0;font-family: 'Spectral', serif;font-size:18px;font-weight:bold;color:#fff}
.primary{background:#04050B;min-height:100vh}
.stranger-header{width:100%}
.info-cont{width:90%;margin: 0 auto;text-align:center;}
.info-text{text-align:justify;margin:0;padding:1rem 0 2rem;}
.info-btn{font-weight:bold;text-transform:uppercase;font-family: 'Spectral', serif;}


/*********** index.html **********/


/*********** light.html **********/
.lights-header{width:100%;}


/*********** location.html *********/
h4{font-family: 'Spectral', serif;text-transform:uppercase;font-weight:bold;margin:0;padding:1rem 0}
#latLocDiv .info-text, #longLocDiv .info-text{padding:0}
#longLocDiv img{width:40%;height:40%}
#longLocDiv .info-text{text-align: center;}
.equat-cont{display:flex;flex-direction:row;justify-content:center;padding:1rem 0;align-items:center;}
.equat-cont p{margin:0}
.equation{padding:0 1rem}
.equation p:first-of-type{border-bottom: 1px solid #fff}
.symbol{font-size:2rem;line-height:2rem;margin:0;}
.img-equat{display:flex;flex-direction:row;justify-content:space-evenly;align-items:center;padding-bottom:1.5rem}
.batman-img{background:rgba(255,255,255,.25);border-radius:35%}

/*********** date.html **********/
#startDateDiv .info-text{padding:1rem 0 0}
